<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<h3>A bit more about this flat...</h3>
<p><%= @flat.description %></p>
<h3>Details</h3>
<div class="flat-card-info">
  <i class="fas fa-users"> <%= @flat.number_of_guests %></i>
  <i class="fas fa-euro-sign ml-2"> <%= @flat.price_per_night %></i>
</div>
